[Desktop Entry]
Name=XBMC Web Remote
Comment=XBMC Remote Control using Web Sockets
Exec=qmlscene $@ xbmcwebremote.qml
Icon=xbmcwebremote.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
