[Desktop Entry]
Name=XBMC Web Remote
Comment=XBMC Remote Control using Web Sockets
Exec=/usr/bin/qmlscene $@ xbmcwebremote.qml
Icon=icons/64.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
