@font-face {
    font-family: 'RobotoRegular';

    src: url('../assets/fonts/roboto_regular/roboto-regular-webfont-webfont.eot');
    src: url('../assets/fonts/roboto_regular/roboto-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto_regular/roboto-regular-webfont-webfont.woff') format('woff'),
         url('../assets/fonts/roboto_regular/roboto-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto_regular/roboto-regular-webfont-webfont.svg#robotoregular') format('svg');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';

    src: url('../assets/fonts/roboto_bold/roboto-bold-webfont-webfont.eot');
    src: url('../assets/fonts/roboto_bold/roboto-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto_bold/roboto-bold-webfont-webfont.woff') format('woff'),
         url('../assets/fonts/roboto_bold/roboto-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto_bold/roboto-bold-webfont-webfont.svg#robotobold') format('svg');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';

    src: url('../assets/fonts/roboto_light/roboto-light-webfont-webfont.eot');
    src: url('../assets/fonts/roboto_light/roboto-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto_light/roboto-light-webfont-webfont.woff') format('woff'),
         url('../assets/fonts/roboto_light/roboto-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto_light/roboto-light-webfont-webfont.svg#robotolight') format('svg');

    font-weight: normal;
    font-style: normal;

}
